name: Update Demo App

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true
      slack_channel:
        description: 'Slack Channel'
        required: true

jobs:
  update-demo-app:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        run: |
          git clone https://github.com/ironsource-mobile/Mediation-Demo-Apps.git
      - name: Create Release Branch
        shell: bash
        run: |
          git config --global user.name 'Github Actions'
          git config --global user.email 'github-actions@users.noreply.github.com'
          
          chmod +x ./scripts/release/hotfix_release/update_sdk_version.sh
          cd Mediation-Demo-Apps
          ../scripts/release/hotfix_release/update_sdk_version.sh ${{ github.event.inputs.version }} "Java/app/build.gradle"
          ../scripts/release/hotfix_release/update_sdk_version.sh ${{ github.event.inputs.version }} "Kotlin/app/build.gradle"

          git checkout -b release/${{ github.event.inputs.version }}
          git add --all
          git commit -m "Release ${{ github.event.inputs.version }}"
        #  git push -u origin release/${{ github.event.inputs.version }}
  open-pr:
    needs: update-demo-app
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: release/${{ github.event.inputs.version }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          title: Release ${{ github.event.inputs.version }}
          commit-message: test ${{ github.event.inputs.version }}
          branch: test/${{ github.event.inputs.version }}
          base: master
          delete-branch: true
